/*  Styles for button element */
.btn-card {
    padding: 5px;
}

.btn {
    font-size    : 18px;
    color        : #ffffff;
    height       : 40px;
    min-width    : 64px;
    padding      : 0 18px;
    margin       : 5px;
    background   : #72c3dc;
    border-radius: 10px;
    border       : none;
    border-bottom: 3px solid #5ea7be;
}

@media (min-width: 600px) {

    /* Medai queries for desktop layout */
    .btn-card {
        padding: 20px 10px 0 10px;
    }

    .btn {
        display        : flex;
        flex           : 1 0 auto;
        min-width      : 100% !important;
        max-width      : auto;
        justify-content: center;
        align-items    : center;
        vertical-align : middle;
    }
}